<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UnionCoop.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>76D5631B236F87BFC96666F96705749707938DC8</string>
				<key>dateExpires</key>
				<string>27/06/2022</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ActionSheetPicker_3_0.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Adjust.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FCAlertView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>LCBannerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Localize_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MOLH.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SCLAlertView_Objective_C.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YoutubePlayer_in_WKWebView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ZXingObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>36S4JW7YPJ.blueappleco.UCSApp.Notification</string>
						<key>com.apple.developer.team-identifier</key>
						<string>36S4JW7YPJ</string>
						<key>get-task-allow</key>
						<true/>
						<key>keychain-access-groups</key>
						<array>
							<string>36S4JW7YPJ.blueappleco.UCSApp.Notification</string>
						</array>
					</dict>
					<key>name</key>
					<string>NotificationService.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>79a41211-3b93-4d9c-9eaf-2373e271bb89</string>
						<key>name</key>
						<string>UCS_Dev_Notification</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>76D5631B236F87BFC96666F96705749707938DC8</string>
						<key>dateExpires</key>
						<string>27/06/2022</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>36S4JW7YPJ.blueappleco.UCSApp.Union-Coop</string>
						<key>com.apple.developer.team-identifier</key>
						<string>36S4JW7YPJ</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.blueappleco.UCSApp</string>
						</array>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>UnionCoopWidgetExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>8be5e177-1c49-4657-bc0c-87374a025118</string>
						<key>name</key>
						<string>UCS_DEV_WIDGET</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>36S4JW7YPJ</string>
						<key>name</key>
						<string>UNION CO OPERATIVE SOCIETY</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>36S4JW7YPJ.blueappleco.UCSApp</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:ucapp.page.link</string>
					<string>applinks:ujwd.adj.st</string>
				</array>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.blueappleco.UCSApp</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>36S4JW7YPJ</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.blueappleco.UCSApp</string>
				</array>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>UnionCoop.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d2b63e76-09a9-49f2-8baa-b235f38e0275</string>
				<key>name</key>
				<string>UCS_DEV</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>36S4JW7YPJ</string>
				<key>name</key>
				<string>UNION CO OPERATIVE SOCIETY</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
