<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>development</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>blueappleco.UCSApp</key>
		<string>UCS_DEV</string>
		<key>blueappleco.UCSApp.Notification</key>
		<string>UCS_Dev_Notification</string>
		<key>blueappleco.UCSApp.Union-Coop</key>
		<string>UCS_DEV_WIDGET</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Development</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>36S4JW7YPJ</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
